<form method='POST'>
  <label for='input-firstname'>Your First Name</label>
  <input
    id='input-firstname'
    type='text'
    name='firstName'
    placeholder='{{user.firstName}}'
    required
  />
  <button>Update</button>
</form>
<form action='/profile'>
  <button>Cancel</button></form>